@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <nav class="navbar nav navbar-default bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Groceries">GroceryList</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a asp-controller="Groceries">Your Grocery List</a></li>
                <li><a asp-controller="Groceries" asp-action="Index">Groceries</a></li>
                <li><a asp-controller="Stores" asp-action="Index">Stores</a></li>
                
               
            </ul>
        </div>
    </nav>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
