@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <nav class="navbar nav navbar-default bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1>Heather's Vet Clinic</h1>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a asp-controller="Home">Home</a></li>
                <li><a asp-controller="Owners" asp-action="Index">Owners</a></li>
                <li><a asp-controller="Pets" asp-action="Index">Pets</a></li>
                <li><a asp-controller="Pets" asp-action="Create">Add A pet</a></li>
                <li><a asp-controller="Pets" asp-action="PetServices">Pets Services</a></li>




            </ul>
        </div>
    </nav>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
