@model List<KurthProject2Vet.Models.Owner>
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Owner";
}


<h3>Pet Owners </h3>
<a class="btn btn-large btn-success" asp-controller="Owner" asp-action="Create">Add a new pet owner</a>
<div class="container">
    <div class="row">
        @foreach (var owner in @Model)
        {
            <div class="col-sm-3">@owner.FirstName, @owner.LastName from Store: @owner.Store.Name </div>
        }
    </div>
</div>
