@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers

@model KurthProject2Vet.ViewModels.VetViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "PetServices";
}


<h3>Pet Services</h3>
<div class="container">
    <div class="row">
        @foreach (var pet in Model.Pets)

        {
            <p>@pet.Name</p>
            <ul>
                @foreach (var petService in pet.PetServices)
                {
                    <div class="col-sm-3">Pet Service: @petService.ServiceId  </div>
                }
            </ul>
        }
        
    </div></div>



. Retrieves	all	of	the	Pet	objects	from	the	database	and	includes
the	Services	rendered	for	each	pet
ii. This	will	require	utilizing	the	.Include()	and	.ThenInclude()
syntax.	If	you	are	struggling	with	this,	please ask	me	for	help	J
iii. Passes	the	Pet	objects	that	include	the	related	Services	to	the
PetServices	View