@model List<KurthProject2Vet.Models.Pet>
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Pet";
}


<h3>Pets </h3>
<a class="btn btn-large btn-success" asp-controller="Pet" asp-action="Create">Add a new pet</a>
<div class="container">
    <div class="row">
        @foreach (var pet in @Model)
        {
            <div class="col-sm-3">@pet.Name </div>
        }
    </div>
</div>
