@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model KurthProject2Vet.ViewModels.VetViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}


<div class="bg-primary panel-body""><h1>Welcome to Heather's Vet Clinic!</h1>
    <h2>Your pets will love us, we Shih Tzu not!</h2>
    </div>
